ROOM_STORE_DRIVER=file
ROOMS_DATA_DIR=./data
CLOUDBASE_ENV_ID=
CLOUDBASE_APIKEY=
TCB_ENV_ID=
TCB_API_KEY=
CLOUDBASE_ROOM_COLLECTION=online_rooms
VITE_SOCKET_URL=
CORS_ORIGINS=http://127.0.0.1:5173,http://localhost:5173
